@import "../../sass/variables";

.candlestickSelectorContainer {
  .sectionHeader {
    margin: 0;
    // padding-top: 1em;
    // padding-bottom: 10px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 10px;
    background-color: darken($color-background, 2%);
  }
  .patternsList {
    height: calc(80vh / 2 - 40px);
    align-items: center;
    display: flex;
    flex-direction: column;
    // overflow-y: scroll;
    // -ms-overflow-style: none; /* IE and Edge */
    // scrollbar-width: none;
    // &::-webkit-scrollbar {
    //   display: none;
    // }

    &__patternItem {
      text-align: left;
      color: $color-white;

      width: 100%;
      cursor: pointer;
      transition: $transition-duration;
      // &:not(:last-of-type) {
      border-bottom: 1px solid darken($color-white, 60%);
      // }
      h4 {
        font-weight: 400;
        margin: 0;
        text-transform: capitalize;
      }
      .itemWrapper {
        padding: 20px 10px;
      }
      &:hover {
        background-color: lighten($color-background, 8%);
      }
    }
    .active {
      background-color: lighten($color-background, 8%);
    }
    .patternItemsSection {
      pointer-events: none;
      cursor: default;
      text-decoration: none;
      background-color: lighten($color-background, 12%);
      text-align: center;
      font-weight: 500;
    }
  }
}
