@import "../../sass/variables";

.chartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  // max-width: 1000px;
  width: 100%;
  height: 500px;
  // border: 2px solid red;

  .highcharts-arrow-up,
  .highcharts-arrow-down {
    background-color: $color-highchart-btn;
  }

  .highcharts-container {
    align-self: flex-start;
  }
  .highcharts-background {
    fill: transparent;
  }
  .tooltipPattern {
    &__header {
      font-weight: bold;
      font-size: 13px;
    }
    &__category {
      font-weight: bold;
    }
  }
}
